<div ng-controller="landingController as landingCtrl">
<div class="view-req-description-background-contactAxa contactAxa hide">
		<!-- Toggle the class hide on success of service calls -->
		<div class="description-popup-contactAxa clearfix">
			<!--<div class="pull-left desc-close"><span class="contactAxa-close close"></span></div>-->
			<div class="contact clearfix">
				<div class="contact-header-wrapper">
					<header class="contact-header clearfix">
						<div class="text-center">
							<span class="service-name-contact">Contact AXA</span><span
								class="contactAxa-close close"></span>
						</div>
					</header>
				</div>
				<div class="description-popup-contactAxa-content">
					<div class="contact-details-header">
						<ul class="clearfix list-unstyled">
							<li class="col-xs-4"><span>Service</span></li>
							<li class="col-xs-4 text-center"><span>Phone Number</span></li>
							<li class="col-xs-4 text-center"><span>Hours</span></li>
						</ul>
					</div>
					<div class="contact-details-body">
						<div class="contact-inner-content">
							<p>Annuities</p>
							<div>
								<ul class="clearfix list-unstyled">
									<li class="col-xs-4"><span>Accumulator</span><span
										class="register"></span></li>
									<li class="col-xs-4"><span>(800) 789-7771</span></li>
									<li class="col-xs-4"><span>Monday - Friday 8:30 AM
											- 5:30 PM ET</span></li>
								</ul>
								<ul class="clearfix list-unstyled">
									<li class="col-xs-4"><span>Accumulator</span><span
										class="register"></span> New Business</li>
									<li class="col-xs-4"><span>(877) 433-4238</span></li>
									<li class="col-xs-4"><span>Monday - Friday 9:00 AM
											- 5:00 PM ET</span></li>
								</ul>
								<ul class="clearfix list-unstyled">
									<li class="col-xs-4"><span>Crossings</span><span
										class="register"></span></li>
									<li class="col-xs-4"><span>800) 862-6669</span></li>
									<li class="col-xs-4"><span>Monday - Thursday 8:00
											AM - 6:30 PM ET</span> <span>Friday 8:00 AM - 5:00 PM ET</span></li>
								</ul>
								<ul class="clearfix list-unstyled">
									<li class="col-xs-4"><span>EQUI-VEST</span><span
										class="register"></span></li>
									<li class="col-xs-4"><span>(800) 628-6673</span></li>
									<li class="col-xs-4"><span>Monday - Thursday 8:00
											AM - 6:30 PM ET</span> <span>Friday 8:00 AM - 5:00 PM ET</span></li>
								</ul>
								<ul class="clearfix list-unstyled">
									<li class="col-xs-4"><span>Income Pay</span></li>
									<li class="col-xs-4"><span>(800) 245-1230</span></li>
									<li class="col-xs-4"><span>Monday - Friday 9:00 AM
											- 5:00 PM ET</span></li>
								</ul>
								<ul class="clearfix list-unstyled">
									<li class="col-xs-4"><span>Momentum/Retirement
											Strategies</span><span class="sm-icon">SM</span></li>
									<li class="col-xs-4"><span>(800) 528-0204</span></li>
									<li class="col-xs-4"><span>Monday - Thursday 8:30
											AM - 6:30 PM ET</span> <span>Friday 8:30 AM - 5:00 PM ET</span></li>
								</ul>
								<ul class="clearfix list-unstyled">
									<li class="col-xs-4"><span>Single Premium Deferred
											Annuity(SPDA)</span></li>
									<li class="col-xs-4"><span>(800) 628-7789</span></li>
									<li class="col-xs-4"><span>Monday - Friday 9:00 AM
											- 5:00 PM ET</span></li>
								</ul>
								<ul class="clearfix list-unstyled">
									<li class="col-xs-4"><span>300 Plus Series</span></li>
									<li class="col-xs-4"><span>(800) 248-2138</span></li>
									<li class="col-xs-4"><span>Monday - Friday 9:00 AM
											- 5:00 PM ET</span></li>
								</ul>
								<div class="contact-inner-content">
									<p>Life Insurance</p>
									<div>
										<ul class="clearfix list-unstyled">
											<li class="col-xs-4"><span>Advisor Service Line</span></li>
											<li class="col-xs-4"><span>(800) 888-9763</span></li>
											<li class="col-xs-4"><span>Monday - Friday 8:00
													AM - 6:30 PM ET</span></li>
										</ul>
										<ul class="clearfix list-unstyled">
											<li class="col-xs-4"><span></span></li>
											<li class="col-xs-4"><span>(800) 777-6510</span></li>
											<li class="col-xs-4"><span>Monday - Friday 8:00
													AM - 6:30 PM ET</span></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="contact-details-header">
							<ul class="clearfix list-unstyled">

								<li class="col-xs-4"><span>MONY</span></li>
								<li class="col-xs-4 text-center"><span>Phone Number</span>
								</li>
								<li class="col-xs-4 text-center"><span>Hours</span></li>

							</ul>
						</div>

						<div class="contact-inner-content">
							<ul class="clearfix list-unstyled">
								<li class="col-xs-4"><span>Annuities</span></li>
								<li class="col-xs-4"><span>(800) 487-6669</span></li>
								<li class="col-xs-4"><span>Monday - Thursday 8:00 AM
										- 6:30 PM ET</span><span> Friday 8:00 AM - 5:00 PM ET</span></li>
							</ul>
							<ul class="clearfix list-unstyled">
								<li class="col-xs-4"><span>Life Insurance</span></li>
								<li class="col-xs-4"><span>(800) 487-6669</span></li>
								<li class="col-xs-4"><span>Monday - Thursday 8:00 AM
										- 6:30 PM ET</span> <span>Friday 8:00 AM - 5:00 PM ET</span></li>
							</ul>
						</div>
					</div>
					<div class="contact-details-header">
						<ul class="clearfix list-unstyled">

							<li class="col-xs-4"><span>AXA Advisors</span></li>
							<li class="col-xs-4 text-center"><span>Phone Number</span></li>
							<li class="col-xs-4 text-center"><span>Hours</span></li>

						</ul>
					</div>
					<div class="contact-inner-content">
						<ul class="clearfix list-unstyled">
							<li class="col-xs-4"><span>Brokerage Products</span></li>
							<li class="col-xs-4"><span>(866) 487-7484</span></li>
							<li class="col-xs-4"><span>Monday - Friday 8:30 AM -
									6:30 PM ET</span></li>
						</ul>
					</div>
				</div>

				<div class="desc-content">
					<button class="exit one-button-width contact-ok">OK</button>
				</div>
			</div>
		</div>
	</div>
	<!-- notifications popover  -->
	<ul class="clearfix dropdown-menu notifications-popover-wrapper list-unstyled hide">
		<li class="upload-doc hide"><a class="clearfix" href="#"> <span
				class="upload-doc-img pull-left"></span> <span class="pull-left">Upload
					Document</span> </a>
			<div class="divider"></div></li>
		<li class="view-req-description"><a class="clearfix" href="#">
				<span class="view-req-description-img pull-left"></span> <span
				class="pull-left">View Requirement Description</span> </a>
			<div class="divider"></div></li>
		<li class="view-req" id="viewRequirement"><a class="clearfix"
			href="#"> <span class="view-req-img pull-left"></span> <span
				class="pull-left">View All Requirements</span> </a>
			<div class="divider"></div></li>
		
		<li id="view-contract-id" class="view-contract-info"><a
			class="clearfix" href="#" ng-click="$parent.navigateAppDet($event)"> <span
				class="view-contract-info-img pull-left"></span> <span
				class="pull-left" id="viewContract">View Contract Information</span> </a>
			<div class="divider"></div></li>
		<li id="launchSrs" class="launch-srs hide"><a class="clearfix" href="#"><span class="launch-srs-img pull-left"></span><span class="pull-left">Launch SRS</span></a>
        <div class="divider"></div>
    </li>
		<li id="emailCase" class="email-case-manager"><a
			class="clearfix email-case-wrapper" href="#"> <span
				class="email-case-manager-img pull-left"></span> <span
				class="pull-left">Email (Service Center)</span> </a>
			<div class="divider"></div></li>
		<li id="emailOthers" class="email-others"><a
			class="clearfix email-others-wrapper" href="#"> <span
				class="email-others-img pull-left"></span> <span
				class="pull-left email-oth-con">Email (Others)</span> </a>
			<div class="divider"></div></li>
		<li class="contact-axa"><a class="clearfix" href="#"> <span
				class="contact-axa-img pull-left"></span> <!--<a href="#" ">--> <span
				class="pull-left">View Key Contacts</span> </a> <!--</a>--></li>
	</ul>
	
	<div class="landing-container clearfix">
		<div class="view-req-description-background hide">
			<!-- Toggle the class hide on success of service calls -->
			<div class="description-popup clearfix">
				<div class="pull-left desc-close">
					<span class="close"></span>
				</div>
				<div class="pull-left desc-content">
					<p class="content"></p>
					<button class="exit one-button-width">OK</button>
				</div>
			</div>
		</div>
		<div class="loading-background hide">
			<!-- Toggle the class hide on success of service calls-->
			<div class="loading"></div>
		</div>
		<div class="new-notifications">
			<div class="new-notifications-header">
				<ul class="clearfix list-unstyled">
					<li class="col-md-3 pull-left home-wrapper">
						<div id="ladingHome" class="landing-home pull-left hide">
							<span class="">Home</span>
						</div> <!--  <div id="backHome" class="landing-home pull-left hide"><span class="">Back</span></div> -->
					</li>
					<li class="service-name text-center pull-left"
						id="notifyOutstandingWrapper"><span
						class="landing-header-wrapper"> <span
							class="landing-header-content">{{landingHeader}}</span> <span
							class="hide" id="landing-header-content-txt"><span>
									for </span><span id="landing-header-content-value"></span>
						</span> </span> <!-- <a href="#" id="clientShowAllLink" class="clientShowAll showall-notify-outstand-wrapper hide"><span class="showall-content">Show All Clients/Policies</span></a> -->
						<span ng-show="businesslist" id="businessSearchWrapper">
							<span class="policy-search-wrapper">
								<input type="text" id="policy-search" ng-model="filterText" class="search form-control" placeholder="Insured Name or Policy / Contract#" />
								<span class="search-icon icon"></span>
							</span>
							<button class="advanced-search btn" data-role="none" data-toggle="modal" data-target="#advancedSearch" ng-click="advancedSearch()">
								Advanced Search
							</button>
						</span>
					</li>

					<!-- 2-20-2015 Print-Report Button Added starts -->
					<li class="pull-left landing-header-report-icon reports"><a
						href="/axae/myportal/rad/util/reports/" data-role="none"
						class="pull-right landing-page-report"> <span
							class="icon reportIcon pull-left"></span> <span
							class="report-content pull-left">Reports</span> </a></li>


					<li class="pull-left landing-header-print-icon"><a href="#"
						data-role="none" class="pull-right landing-page-print"
						id="landingPrint" data-toggle="modal"> <span
							class="icon printIcon pull-left"></span> <span
							class="print-content pull-left">Print</span> </a></li>
					<!-- Print-Report Button Added ends-->

					<!-- 2-20-2015-col-md-2 change to 1 starts -->
					<li class="pull-right landing-page-refresh-wrapper col-md-1">

						<a href="#" class="pull-right landing-page-refresh"> <span
							class="refresh-content pull-left">Refresh</span> <span
							class="refresh-img"></span> </a></li>
				</ul>

				<!-- 23-2-2015 show-all-link Added starts -->
				<ul class="clearfix show-all-delete-wrapper list-unstyled">
				<li class="col-md-3">
					<button class="btn delete-notify" ng-show="deleteNotifyBtn" disabled="disabled" data-role="none">Delete</button>
				</li>
				<li class="col-md-6 show-all-links text-center">
					<a href="#" id="clientShowAllLink"
						class="clientShowAll showall-notify-outstand-wrapper hide"><span
						class="showall-content">Show All Clients/Policies</span>
					</a>
				</li>
				</ul>
				<!-- 23-2-2015 Added starts -->

			</div>
			<ul class="nav nav-tabs req-suitrev-menu" ng-if="reqsuittab" role="tablist">
				<li class="require" ng-class="{'active' : osadvreq || osotherreq}"><a href="" role="tab" data-toggle="tab" id="requirementLink" ng-click="reqsuiteval('req')">Requirements</a></li>
				<li class="suitrev" ng-class="{'active' : osadvsuit || osothersuit}"><a href="" role="tab" data-toggle="tab" id="suitLink" ng-click="reqsuiteval('suit')">Suitability Review</a></li>
			</ul>

			<div class="tab-content hide" id="reqSuitReview">
				<div class="tab-pane active" id="reqTable">
					<table class="landing-data-content-info list-unstyled os_items_reqtable dataTable" id="landingDataTableOne" style="width: 100%;">

					</table>
					<table class="landing-data-content-info list-unstyled os_items_reqotherstable dataTable" id="landingDataTableOthersOne" style="width: 100%;">

					</table>
				</div>
				<div class="tab-pane" id="suitrevTable">
					<table class="landing-data-content-info list-unstyled os_items_suitrevtable dataTable" id="landingDataTabletwo" style="width: 100%;">
					</table>
				</div>
			</div>
			<div class="landing-data-content">
				<p class="no-data-found display-none"></p>
		<!-- <div id="tableContainer" ng-controller="notifylandingController as notone"> -->
    <!-- <table datatable="" dt-options="landingCtrl.dtOptions" dt-columns="landingCtrl.dtColumns" dt-column-defs="landingCtrl.dtColumnDefs" dt-instance="landingCtrl.dtInstance" class="row-border hover landing-data-content-info datatable-wrapper"></table> -->
	

    <table datatable="ng" id="landingDataTableone" ng-if="notify" dt-options="landingCtrl.dtOptions1"  class="row-border hover landing-data-content-info notifications-table">
        <thead class="landing-data-head-content">
        <tr class="notificationHeader">
            <th>Insured/Annuitant</th>
            <th>Policy/Contract</th>
            <th>Product</th>
            <th>Amount($)</th>
            <th>Received Date</th>
            <th>Type</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="person in landingCtrl.persons1">
            <td>{{ person.insuredname}}</td>
            <td>{{ person.contract_no}}</td>
            <td>{{ person.contract_plan_desc}}</td>
            <td>{{ person.contract_face_amt}}</td>
            <td>{{$parent.returnFormatDate(person.contract_stat_date)}}</td>
            <td>{{ person.notification_name}}</td>
            <td><span class="type-icon navbar-toggle" ><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></span></td>
        </tr>
        </tbody>
    </table>
    <table datatable="ng" id="landingDataTabletwo" ng-if="osadvreq" dt-options="landingCtrl.dtOptions2" class="row-border hover landing-data-content-info os_items_reqtable">
        <thead class="landing-data-head-content">
        <tr class="reqHeader">
            <th>Insured/Annuitant</th>
            <th>Policy/Contract</th>
            <th>Amount($)</th>
            <th>Days Outstanding</th>
            <th>Requirement</th>
            <th>Doc Upload Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="person in landingCtrl.persons2">
            <td>{{ person.insuredname}}</td>
            <td>{{ person.contract}}</td>
            <td>{{ person.amount}}</td>
            <td>{{ person.daysoutstanding}}</td>
            <td>{{ person.requirement}}</td>
            <td>{{ person.docstatus}}</td>
            <td><span class="type-icon navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></span></td>
        </tr>
        </tbody>
    </table>
    <table datatable="ng" id="landingDataTablethree" ng-if="osadvsuit" dt-options="landingCtrl.dtOptions21" class="row-border hover landing-data-content-info os_items_suitrevtable">
        <thead class="landing-data-head-content">
        <tr class="reqHeader">
            <th>Insured/Annuitant</th>
            <th>Policy/Contract</th>
            <th>Product</th>
            <th>Expiry Date</th>
            <th>Days Remaining</th>
            <th>Suitability Review Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="person in landingCtrl.persons21">
            <td>{{ person.insuredname}}</td>
            <td>{{ person.contract}}</td>
            <td>{{ $parent.returnProduct(person.product,person)}}</td>
            <td>{{ $parent.returnFormatDate(person.expirydate)}}</td>
            <td>{{ person.daysremaining}}</td>
            <td>{{ person.suitabilitystatus}}</td>
            <td><span class="type-icon navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></span></td>
        </tr>
        </tbody>
    </table>
    <table datatable="ng" id="landingDataTablefour" ng-if="osotherreq" dt-options="landingCtrl.dtOptions3" class="row-border hover landing-data-content-info os_items_reqotherstable">
        <thead class="landing-data-head-content">
        <tr class="reqothersHeader">
            <th>Insured/Annuitant</th>
            <th>Policy/Contract</th>
            <th>Amount($)</th>
            <th>Days Outstanding</th>
            <th>Requirement</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="person in landingCtrl.persons3">
            <td>{{ person.insuredname}}</td>
            <td>{{ person.contract}}</td>
            <td>{{ person.amount}}</td>
            <td>{{ person.daysoutstanding}}</td>
            <td>{{ person.requirement}}</td>
            <td><span class="type-icon navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></span></td>
        </tr>
        </tbody>
    </table>
    <table datatable="ng" id="landingDataTablefive" ng-if="osothersuit" dt-options="landingCtrl.dtOptions31" class="row-border hover landing-data-content-info os_items_suitrevtable">
        <thead class="landing-data-head-content">
        <tr class="reqHeader">
            <th>Insured/Annuitant</th>
            <th>Policy/Contract</th>
            <th>Product</th>
            <th>Expiry Date</th>
            <th>Days Remaining</th>
            <th>Suitability Review Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="person in landingCtrl.persons31">
            <td>{{ person.insuredname}}</td>
            <td>{{ person.contract}}</td>
            <td>{{ $parent.returnProduct(person.product,person)}}</td>
            <td>{{ $parent.returnFormatDate(person.expirydate)}}</td>
            <td>{{ person.daysremaining}}</td>
            <td>{{ person.suitabilitystatus}}</td>
            <td><span class="type-icon navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></span></td>
        </tr>
        </tbody>
    </table>
    <table datatable="ng" id="landingDataTablesix" ng-if="businesslist" dt-options="landingCtrl.dtOptions4" class="row-border hover landing-data-content-info business-list-table">
        <thead class="landing-data-head-content">
        <tr class="businessListHeader">
            <th>Insured/Annuitant</th>
            <th>Policy/Contract</th>
            <th>Product</th>
            <th>Amount($)</th>
            <th>App Received Date</th>
            <th>App Status Change Date</th>
            <th>Application Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="person in landingCtrl.persons4 | myTableFilter: filterText | filter: {contract_plan_desc : productText,type : statusText} |  myTableFilterAmount: amountval | daysoutstandFilter : daysout"><!--filter: (!modalflag ? tableFilter('init') : (!modalflagone ? tableFilter(true) : tableFilter(false)))-->
            <td>{{ person.insuredname}}</td>
            <td>{{ person.contract_no}}</td>
            <td>{{ person.contract_plan_desc}}</td>
            <td>{{ person.contract_face_amt}}</td>
            <td>{{ $parent.returnFormatDate(person.app_received_date)}}</td>
            <td>{{ $parent.returnFormatDate(person.contract_stat_date)}}</td>
            <td>{{ person.type}}</td>
            <td><span class="type-icon navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></span></td>
        </tr>
        
        </tbody>
    </table>
    <!-- <table datatable="ng" ng-if="businesslistprod" dt-options="landingCtrl.dtOptions4" class="row-border hover landing-data-content-info business-list-table">
        <thead class="landing-data-head-content">
        <tr class="businessListHeader">
            <th>Insured/Annuitant</th>
            <th>Policy/Contract</th>
            <th>Product</th>
            <th>Amount($)</th>
            <th>App Received Date</th>
            <th>App Status Change Date</th>
            <th>Application Status</th>
            
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="person in landingCtrl.persons4 | filter: {contract_plan_desc : productText }">
            <td>{{ person.insuredname}}</td>
            <td>{{ person.contract_no}}</td>
            <td>{{ person.contract_plan_desc}}</td>
            <td>{{ person.contract_face_amt}}</td>
            <td>{{ $parent.returnFormatDate(person.app_received_date)}}</td>
            <td>{{ $parent.returnFormatDate(person.contract_stat_date)}}</td>
            <td>{{ person.type}}</td>
        </tr>
        
        </tbody>
    </table> -->
<!-- </div> -->
				<!-- <table class="landing-data-content-info list-unstyled dataTable"
					id="landingDataTable" style="width: 100%;">

				</table> -->
			</div>

			<!-- landing-data-content end -->

			<div class="landing-page-footer">
				<ul class="landing-footer list-unstyled clearfix">
					<li class="footer-notifications col-xs-3" ng-class="{'footer-active' : notify}" ng-click="displayTable('notifications')">
						NOTIFICATIONS
						<span class="count" ng-class="{'count-active' : notify}">{{notifyCount}}</span>
					</li>
					<li class="footer-req-agent col-xs-3" ng-class="{'footer-active' : osadv}" ng-click="displayTable('advisor')">
						O/S ITEMS: ADVISOR
						<span class="count" ng-class="{'count-active' : osadv}">{{advisorCount}}</span>
					</li>
					<li class="footer-service-center col-xs-3" ng-class="{'footer-active' : osother}" ng-click="displayTable('other')">
						O/S ITEMS: OTHERS
						<span class="count" ng-class="{'count-active' : osother}">{{otherCount}}</span>
					</li>
					<li class="footer-business-list no-right-border col-xs-3" ng-class="{'footer-active' : businesslist}" ng-click="displayTable('businesslist')">NEW BUSINESS LIST
					    <span class="count" ng-class="{'count-active' : businesslist}">{{newBusinessListCount}}</span>
					</li>
				</ul>
			</div>
			<!-- footer end -->

			


			<!-- landing-data end -->
		</div>
		<!-- new-notifications end -->

		<div class="modal fade" id="advancedSearch">
		<div class="modal-dialog advanced-search-popup-wrapper">
		<div class="modal-content advanced-search-popup-container">
		<div class="clearfix advanced-search-close-wrapper">
        <button type="button" class="close" data-dismiss="modal" data-role="none" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
		<div class="advanced-search-popup">
				<form target="_blank">
					<label class="advanced-search-popup-label">Contract# /
						Insured (or) Annuitant Name</label> <input type="text" ng-model="filterTextModal" class="contract-insured form-control" data-role="none">
					<div class="products">
						<label>Product</label> <input type="text" ng-model="productTextModal" class="products-text form-control" data-role="none">
					</div>
					<div class="status">
						<label>Status</label> <select class="status-text" id="statusSelect" ng-model="statusTextModal">
							<option>All</option>
							<option>Cond Issued</option>
							<option>Declined</option>
							<option>Declined Incomplete</option>
							<option>Incomplete</option>
							<option>Inforce</option>
							<option>Issued</option>
							<option>Issued, Pending Delivery Req</option>
							<option>NTO/Cancelled</option>
							<option>Offer</option>
							<option>Offer Accepted</option>
							<option>Offer Expired</option>
							<option>Pending</option>
							<option>Postponed</option>
							<option>Printed, Pending Delivery Req</option>
							<option>Suspnd - Express</option>
							<option>Suspnd - Underwriting</option>
							<option>Suspnd - Underwriting &amp; Express</option>
							<option>Underwriting Complete</option>
							<option>UW Complete,Pending Rqmts</option>
							<option>UW Complete,Rqmts complete</option>
							<option>Withdrawn</option>
						</select>
					</div>
					<div class="amount-slider">
						<label>Amount</label>
						<div id="amount-slider-div">
							<!-- <input id="amount-range-Slider" type="text" data-role="none" data-slider-value="0" /> -->
							<!-- <input id="amount-range-Slider" ng-model="sliderText" type="text" data-slider-min="0" data-slider-step="2000"  data-slider-max="50000" data-slider-value="0" data-slider-tooltip="always" /> -->

				<slider id="amountSlider" ng-model="sliderAmountValue" min="sliderAmountOptions.min" step="sliderAmountOptions.step" max="sliderAmountOptions.max" value="sliderAmountOptions.value" tooltip="always" formatter="sliderAmountOptions.formatter"></slider>
		
							<!-- <label for="modelValue">Slider Value in ng-model:</label>
        <input id="modelValue" type="range" ng-model="model.first" min="testOptions.min" step="testOptions.step"
               max="testOptions.max">
        <input type="number" ng-model="model.first" class="form-control"> -->

						</div>
					</div>
					<div class="days-outstanding-slider">
						<label class="days-outstanding-slider-label">Days Outstanding</label>
						 <span class="days-outstanding-not-applicable-wrapper">
							<input type="checkbox" name=" " class="days-outstanding-checkbox" ng-model="daysOutCheck"> <label class="not-applicable">Include
								in search criteria</label> </span>
						<div id="outstanding-slider-div">
							<!-- <input id="outstanding-range-Slider" type="text" data-role="none" data-slider-value="0" /> -->
							<slider id="daysOutstandingSlider" ng-model="daysOutstandingValue" min="sliderdaysOutstandingOptions.min" step="sliderdaysOutstandingOptions.step" max="sliderdaysOutstandingOptions.max" value="sliderdaysOutstandingOptions.value" tooltip="always" formatter="sliderdaysOutstandingOptions.formatter"></slider>
						</div>
					</div>
					<div class="search-clear-buttons">
						<button class="clear-button btn" data-role="none" id="advanceSearchClear" ng-click="clearpop()"> Clear </button>
						<button class="search-button btn" data-role="none" id="advancedSearchBtn" ng-click="searchpop()"> Search </button>
					</div>

				</form>
			</div>
			</div>
			</div>
		</div>

		<!-- Email PopUp -->
		<div id="myModal" class="modal fade email-popup"  role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog email-popup-wrapper">
				<div class="modal-content">
					<div class="modal-header email-popup-header-wrapper clearfix">

						<header class="menuBar col-xs-12">
							<div class="row">
								<!-- body content //-->
								<div class="col-xs-4 col-lg-3">
									<div class="axaLogo">
										<!-- <a href="/axae/myportal/rad/" class="ui-link"> -->
											<img src="./img/logo-AXA.png" />
										<!-- </a> -->
									</div>
								</div>
								<div class="col-xs-8 col-lg-9 email-popup-head-right">
									<span class="pull-right">Business Tracker</span>
								</div>
							</div>
						</header>
					</div>
					<div class="modal-body">
						<div class="input-group col-xs-12 email-popup-input-container">
							<div class="col-xs-4 col-lg-3 email-popup-label-container">
								<label for="Tomail" class="email-popup-label">To:</label>
							</div>
							<div class="col-xs-8 col-lg-9 email-popup-input-wrapper">
								<input type="email" class="form-control" id="Tomail"
									placeholder="" required="required"
									data-message="Please enter the TO mail address">
							</div>
						</div>
						<div class="input-group col-xs-12 email-popup-input-container">
							<div class="col-xs-4 col-lg-3 email-popup-label-container">
								<label for="Copymail" class="email-popup-label">Cc:</label>
							</div>
							<div class="col-xs-8 col-lg-9 email-popup-input-wrapper">
								<input type="email" class="form-control" id="Copymail"
									placeholder="" value="">
							</div>
						</div>
						<div class="input-group col-xs-12 email-popup-input-container">
							<div class="col-xs-4 col-lg-3 email-popup-label-container">
								<label for="Bccmail" class="email-popup-label">Sender:</label>
							</div>
							<div class="col-xs-8 col-lg-9 email-popup-input-wrapper">
								<input type="email" class="form-control" id="Bccmail"
									placeholder="">
							</div>
						</div>
						<div class="input-group col-xs-12 email-popup-input-container">
                    <div class="col-xs-4 col-lg-3 email-popup-label-container">
                        <label for="SenderEmailmail" class="email-popup-label">Sender's Email Address:</label>
                    </div>
                    <div class="col-xs-8 col-lg-9 email-popup-input-wrapper">
                        <input type="email" class="form-control" id="SenderEmailmail" placeholder="" value="">
                    </div>
                </div>
                <div class="input-group col-xs-12 email-popup-input-container">
                    <div class="col-xs-4 col-lg-3 email-popup-label-container">
                        <label for="Subjectmail" class="email-popup-label">Subject:</label>
                    </div>
                    <div class="col-xs-8 col-lg-9 email-popup-input-wrapper">
                        <input type="email" class="form-control" id="Subjectmail" placeholder="">
                    </div>
                </div>
                <div class="input-group col-xs-12 email-popup-input-container">
                    <div class="col-xs-4 col-lg-3 email-popup-label-container">
                        <label for="Insuredmail" class="email-popup-label">Insured:</label>
                    </div>
                    <div class="col-xs-8 col-lg-9 email-popup-input-wrapper">
                        <input type="email" class="form-control" id="Insuredmail" placeholder="">
                    </div>
                </div>
                <div class="input-group col-xs-12 email-popup-input-container">
                    <div class="col-xs-4 col-lg-3 email-popup-label-container">
                        <label for="Contractnumbermail" class="email-popup-label">Contract Number:</label>
                    </div>
                    <div class="col-xs-8 col-lg-9 email-popup-input-wrapper">
                        <input type="email" class="form-control" id="Contractnumbermail" placeholder="">
                    </div>
                </div>
                <div class="input-group col-xs-12 email-popup-input-container">
                    <div class="col-xs-4 col-lg-3 email-popup-label-container">
                        <label for="Lobmail" class="email-popup-label">Line Of Business:</label>
                    </div>
                    <div class="col-xs-8 col-lg-9 email-popup-input-wrapper">
                        <input type="email" class="form-control" id="Lobmail" placeholder="">
                    </div>
                </div>
						<div class="input-group col-xs-12 email-popup-body-container">
							<!-- <div class="col-md-2 col-lg-1 email-popup-label-container">
								<label for="SubjectBodymail" class="email-popup-label"></label>
							</div> -->
							<!-- <div class="col-xs-12 col-md-10 col-lg-11 email-popup-subject-wrapper"> -->
							<div class="col-xs-12 email-popup-subject-wrapper">
								<div class="email-popup-subject-container"
									contenteditable="true" id="SubjectBodymail" placeholder="">
									<div id="req-body">
										<strong id="req-type">Notification Type:</strong><span>&nbsp;</span><span
											id="req-details"></span>
									</div>
									<div class="email-popup-finance">
										<span>Financial Professional</span><span>&nbsp;</span><span
											class="email-italic">(Type your message here):</span>
									</div>
									<div class="show" id="mail-content">
										<!--<br /> <br /> <br /> <br /> <br />-->
									</div>
									<div class="suit-content omissionDetail hide">
										<h4>Additional Details:</h4>
										<div class="hide" id="missing-details">
											<span></span>
										</div>
										
										<table class="omissionTable" border="0" cellspacing="0" cellpadding="0">

										</table>
										
									</div>
									
									<div class="suit-details-block hide">
										<h4>Additional Details:</h4>
										<!--<ul class="pending">
      
    </ul>-->
										<table class="pending">
											<thead class="suit-header">
												<th class="priorityWrapper">
													<div class="priority">Priority</div></th>
												<th class="descrWrapper">
													<div class="descr">Description</div></th>
											</thead>
											<tbody>
											</tbody>
										</table>
									</div>
									<div class="business-list-container hide">
										<h4>Additional Details:</h4>
										
										<table border="0" cellspacing="0" cellpadding="0">
										<tbody>
										<tr>
										<td class="email-popup-policy" ><strong>Policy Contract# </strong></td>
										<td class="email-popup-policy-con"><span></span></td>
										</tr>
											<tr>
										<td class="email-popup-lob"><strong>Line of Business </strong></td>
										<td class="email-popup-lob-con"><span></span></td>
										</tr>
											<tr>
										<td class="email-popup-prod"><strong>Product </strong></td>
										<td class="email-popup-prod-con"><span></span></td>
										</tr>
										<tr>
										<td class="email-popup-face"><strong>Face Amount </strong></td>
										<td class="email-popup-face-con"><span></span></td>
										</tr>
										</tbody>
										</table>
										 
									 
										
									</div>
									<!-- End of the Email Body -->
								</div>


							</div>
							
						</div>
					</div>
					<div class="modal-footer email-popup-send-container">
								<span class="btn btn-default email-popup-cancel"
									data-dismiss="modal">Cancel</span> <span
									class="btn btn-primary email-popup-send" id="send_mail">Send</span>

							</div>
				</div>

			</div>
		</div>
	</div>
	
	<!-- Delete Notification PopUp -->
	<div id="deleteNotifyModal" class="modal fade">
		<div class="modal-dialog delete-notify-popup-wrapper">
			<div class="modal-content delete-notify-popup-container">
				<div class="modal-body text-center delete-notify-popup-msg">
					<strong>Are you sure you want to delete the selected Notification(s)</strong>
				</div>
				<div class="modal-footer delete-notify-popupend-container">
					<span class="btn btn-default delete-notify-popupend" data-toggle="modal" id="confirmNotifyDelete">OK</span>
					<span id="deleteCancel" class="btn btn-default delete-notify-popupend" data-dismiss="modal">Cancel</span>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Delete Notification Success PopUp -->
	<div id="deleteNotifysuccessModal" class="modal fade">
		<div class="modal-dialog delete-notify-popup-wrapper">
			<div class="modal-content delete-notify-popup-container">
				<div class="modal-body text-center delete-notify-popup-msg">
					<strong>The selected Notification(s) has been deleted</strong>
				</div>
				<div class="modal-footer delete-notify-popupend-container">
					<span class="btn btn-default delete-notify-popupend" data-dismiss="modal">OK</span>
					
				</div>
			</div>
		</div>
	</div>

	<!-- Additional Information PopUp -->
	<div id="addInfoModal" class="modal fade">
		<div class="modal-dialog add-info-popup-wrapper">
			<div class="modal-content">
				<div class="modal-body">
					<div class="add-info-head">
						<span>Policy/Contract #</span>
						<span id="addInfopolicyNo">315010896</span>
						<span>&nbsp; | &nbsp;</span>
						<span>Insured/Annuitant </span>
						<span id="addInfoinsuredName">eSign NJ eApp SCS</span>	
					</div>
					<div class="add-info-content">
						
<p>eDelivery Successful</p>
<p>Paramedical Exam initiated for this application</p>
<div id="add-info-missing-details"><span>A Variable Life application was received in the Service Center on 04/02/2015 for Joel Peele. It is unable to be processed due to missing information. The missing fields are: </span></div>
<table class="omissionTable" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td>- Initial Premium</td></tr><tr><td>- Annual Income</td></tr></tbody></table>
					</div>
				</div>
				<div class="modal-footer add-info-popupend-container">
					<span class="btn btn-default add-info-popupend" data-dismiss="modal">OK</span>
					<span class="btn btn-default add-info-popupend-view-btn" data-dismiss="modal">View All Requirements</span>
				</div>
			</div>
		</div>
	</div>

	<div id="successModal" class="modal fade email-success-popup">
		<div class="modal-dialog email-success-popup-wrapper">
			<div class="modal-content email-success-popup-container">
				<div class="modal-body text-center email-popup-success-msg">
					<strong>Your email has been sent</strong>
				</div>
				<div class="modal-footer email-popup-successsend-container">
					<span class="btn btn-default email-popup-successsend"
						data-dismiss="modal">OK</span>
				</div>
			</div>
		</div>
	</div>

	<div id="emailValidModal" class="modal fade email-success-popup">
		<div class="modal-dialog email-success-popup-wrapper">
			<div class="modal-content email-success-popup-container">
				<div class="modal-body text-center email-popup-success-msg">
					<strong>Please enter valid email address in TO</strong>
				</div>
				<div class="modal-footer email-popup-successsend-container">
					<span class="btn btn-default" id="emailValidModalOKBtn" data-dismiss="modal">OK</span>
				</div>
			</div>
		</div>
	</div>
	<div id="noPrintModal" class="modal fade email-success-popup">
		<div class="modal-dialog email-success-popup-wrapper">
			<div class="modal-content email-success-popup-container">
				<div class="modal-body text-center email-popup-success-msg">
					<strong>No data available for Print</strong>
				</div>
				<div class="modal-footer email-popup-successsend-container">
					<span class="btn btn-default email-popup-successsend"
						data-dismiss="modal">OK</span>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Key Contacts Modal Window -->
                        <div class="modal fade" id="keyContactWrapper">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header email-popup-header-wrapper">
                                         <header class="menuBar col-xs-12">
                                            <div class="row">
                                                <!-- body content //-->
                                                <div class="col-xs-4 col-lg-3">
                                                    <div class="axaLogo">
                                                        <!-- <a href="/axae/myportal/rad/" class="ui-link" style=""> -->
                                                            <img src="./img/logo-AXA.png" />
                                                        <!-- </a> -->
                                                    </div>
                                                </div>
                                                <div class="col-xs-8 col-lg-9 email-popup-head-right"><span class="pull-right">Business Tracker</span>
                                                </div>
                                            </div>
                                        </header>
                                    
                                    </div>
                                    <div class="modal-body key-contact-popup-body">
                                        <div class="data-table key-contact-table-wrapper">
                                        <div class="resp-table-container">
											<table data-role="table" class="resp-table ui-responsive key-contact-table">
											<thead>
											<tr class="key-contact-table-head">
											<th>Name</th>
											<th>Role</th>
											<th>Email</th>
											<th>Phone Number</th>
											</tr>
											</thead>
											<tbody>
											<tr>
											<td></td>
											<td>Case Manager</td>
											<td></td>
											<td></td>
											</tr>
											<tr>
											<td></td>
											<td>Case Underwriter</td>
											<td></td>
											<td></td>
											</tr>
											<tr>
											<td></td>
											<td>Owner</td>
											<td></td>
											<td></td>
											</tr>
											<tr>
											<td></td>
											<td>Joint Owner</td>
											<td></td>
											<td></td>
											</tr>
											<tr>
											<td></td>
											<td>Insured/Annuitant</td>
											<td></td>
											<td></td>
											</tr>
											<tr>
											<td></td>
											<td>Joint Insured/Annuitant</td>
											<td></td>
											<td></td>
											</tr>
											<tr>
											<td></td>
											<td>Additional Agent 1</td>
											<td></td>
											<td></td>
											</tr>
											<tr>
											<td></td>
											<td>Additional Agent 2</td>
											<td></td>
											<td></td>
											</tr>
											<tr>
											<td></td>
											<td>Additional Agent 3</td>
											<td></td>
											<td></td>
											</tr>
											</tbody>
											</table>
</div><!-- /reflow-table-container//-->
</div>                          
                                    </div>
                                    <div class="modal-footer key-contact-popup-footer">
                                       <div class="text-center">
                                          <button type="button" data-role="none" class="btn btn-default" data-dismiss="modal">OK</button>
                                       </div>
                                        
                                    </div>
                            </div>
                          </div>
                        </div>

                        <!-- Key Contacts Modal Window ends-->

                        <!-- Requirements Modal Window -->
                        <div class="modal fade" id="reqNotifyModal">
                            <div class="modal-dialog req-notify-modal-wrapper">
                                <div class="modal-content">
                                    <div class="modal-header email-popup-header-wrapper">
                                         <header class="menuBar col-xs-12">
                                            <div class="row">
                                                <!-- body content //-->
                                                <div class="col-xs-4 col-lg-3">
                                                    <div class="axaLogo">
                                                        <!-- <a href="/axae/myportal/rad/" class="ui-link" style=""> -->
                                                            <img src="./img/logo-AXA.png" />
                                                        <!-- </a> -->
                                                    </div>
                                                </div>
                                                <div class="col-xs-8 col-lg-9 email-popup-head-right"><span class="pull-right">Business Tracker</span>
                                                </div>
                                            </div>
                                        </header>
                                    
                                    </div>
                                    <div class="modal-body key-contact-popup-body">
                                        <div class="data-table key-contact-table-wrapper">
                                        <div class="resp-table-container">
											<table data-role="table" class="resp-table ui-responsive req-notify-desc-table">
											<thead>
											<tr class="req-notify-desc-table-head">
											<th>Requirement Name</th>
											<th>Requirement Description</th>
											<th>Action By</th>
											</tr>
											</thead>
											<tbody>
											<tr>
											<td>Replacement Acknowledgement Form</td>
											<td>Submit fully completed Signed for NC</td>
											<td>Agent</td>
											
											</tr>
											<tr>
											<td>Motor Vehicle Report</td>
											<td></td>
											<td>Service Center</td>
											
											</tr>
											<tr>
											<td>Provide a Correct Application</td>
											<td>Application from NJ on form AXAV1-2002A</td>
											<td>Agent</td>
											
											</tr>
											
											</tbody>
											</table>
</div><!-- /reflow-table-container//-->
</div>                          
                                    </div>
                                    <div class="modal-footer req-notify-popupend-container">
										<span class="btn btn-default req-notify-popupend" data-dismiss="modal">OK</span>
										<span class="btn btn-default req-notify-popupend-view-btn" data-dismiss="modal">View All Requirements</span>
									</div>
                            </div>
                          </div>
                        </div>

                        <!-- Requirements Modal Window ends-->

	<!-- Print Modal -->
	<div id="printWrapper" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header email-popup-header-wrapper clearfix">

					<header class="menuBar col-xs-12">
						<div class="row">
							<!-- body content //-->
							<div class="col-xs-4 col-lg-3">
								<div class="axaLogo">
									<!-- <a href="/axae/myportal/rad/" class="ui-link"> -->
										<img src="./img/logo-AXA.png" />
									<!-- </a> -->
								</div>
							</div>
							<div class="col-xs-8 col-lg-9 email-popup-head-right">
								<span class="pull-right">Business Tracker</span>
							</div>
						</div>
					</header>
				</div>
				<div class="modal-body">
					<h3 class="text-center">
						<span id="printPopUpheader"></span><span class="hide" id="printBy">&nbsp;by&nbsp;</span><span
							id="printFor">&nbsp;for&nbsp;</span><span id="printName"></span>
					</h3>
					<h4 class="text-center">
						<span>Total Records &nbsp;</span><span id="printTotal"> </span>
					</h4>
					<div class="print-pop-up-top-buttons-wrapper">
						<div class="text-center print-pop-up-top-buttons">
							<button type="button" data-role="none" class="btn btn-default" id="printBtn">Print</button>
							<button type="button" data-role="none" class="btn btn-primary" data-dismiss="modal" id="printcloseBtn">Close</button>
						</div>
					</div>
					<div id="printContainer" class="print-container"></div>
				</div>
				<div class="modal-footer print-close-footer">
					<!--<div class="text-center print-pop-up-bottom-buttons">
						<button type="button" data-role="none"
							class="btn btn-default printBtn">Print</button>
						<button type="button" data-role="none" class="btn btn-primary"
							data-dismiss="modal">Close</button>
					</div>-->
					
					<div class="print-footer">
            <div id="footerCopyright">
                <!--<div class="row">
                    <div class="container">-->
                        <div class="mainContent col-xs-12">
                            <p class="txt-sm">© 2014 AXA Equitable Life Insurance Company
                                <span class="greyVertRule"></span> 1290 Avenue of the Americas, New York, NY 10104
                                <br>
                                    <a href="/about-axa/privacy.html" class="ui-link">Online Privacy and Security Statement</a>
                                    <span class="greyVertRule"></span>
                                    <a href="/about-axa/usage.html" class="ui-link">Usage Agreement</a>
                                     <span class="greyVertRule"></span>
                                    <a href="/axae/myportal/rad/help/contactus" class="ui-link">Contact Us </a>
                                     <span class="greyVertRule"></span>
                                    <a href="/axae/myportal/rad/help/faq" class="ui-link">Help</a>
                                </p>
                            </div>
                        <!--</div>
                    </div>-->
                </div>
        </div>
				</div>
			</div>
		</div>
	</div>
</div>